@page "/wallet"
@inherits WalletPageBase
@using Client.Features.Edge.Components.Wallet

<div class="text-center">
  @if (EdgeCurrencyWallet != null)
  {
    <Wallet />
  }
  else
  {
    <div>
      <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Wallet Loading...</span>
      </div>
    </div>
  }

</div>
<style>
</style>
