@page "/wallet"
@inherits WalletPageModel
@using Client.Features.Edge.Components.Wallet

<div class="text-center">
  @if(EdgeCurrencyWallet != null)
  {
    <Wallet />  
  }else
  {
    <div>No Wallet Yet</div>
  }

</div>
<style>
</style>
