@page "/wallet"
@inherits WalletPageModel
@using Client.Features.Edge.Components.Wallet

<div class="text-center">
  @if(EdgeCurrencyWallet != null)
  {
    <Wallet />  
  }else
  {
<div>Creating Wallet. Please Refresh if this takes too long.</div>
  }
  </div>
<style>
</style>
